@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');


* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #333;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: #333;
}

h1,
h2 {
    font-weight: 300;
    line-height: 1.2;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

ul {
    list-style: none;
}

/*  Header */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    position: fixed;
    top: 0%;
    background-color: #333;
    color: white;
    height: 70px;
    width: 100%;
    opacity: 0.8;
}

.navbar h1 {
    font-weight: 400;
}

.navbar ul {
    display: flex;
}

.navbar ul a {
    color: white;
    padding: 10px 20px;
}

.navbar ul a:hover {
    border-bottom: 3px solid #28a745;
}

body > header {
    background: url('../image/home/showcase.jpg') no-repeat center center / cover;
    height: 100vh;
    position: relative;
}

header .content {
    height: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

header .content button a{
    color: #fff;
}

header .content h1 {
    font-size: 55px;
}

header .content p {
    font-size: 23px;
}

body > header::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

header * {
    z-index: 10;
}

/* About - icons */

.icons {
    padding: 35px;
}

.icons > div {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center; 
} 

.icons > div > div {
    padding: 10px;
} 

.icons i {
    background-color: #28a745;
    padding: 1rem;
    border-radius: 50%;
    color: #fff;
    margin-bottom: 20px;
}

/* about solutions */

.solutions .col-2 {
    background-color: #28a745;
}

/*  cases section */
.cases-image {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}
  
.cases-image img {
    flex: 25%;
    max-width: 24.2%;
    margin: 5px;
}
  
.cases-image img:hover {
    cursor: pointer;
    opacity: .7;
}

/* blog section */
.blog {
    margin: 50px 0;
}
.blog .row {
    flex-direction: row-reverse;
}

/* .blog .col-2{
    background-color: #0284d0;
} */

/* .blog button {
    background-color: #0284d0;
} */