.text-primary {
    color: #28a745;
}

.text-secondary {
    color: #0284d0;
}

button {
    background-color: #28a745;
    padding: 12px 30px;
    color: white;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

.row {
   display: flex;
}

.row .col-1,
     .col-2 {
     flex:1;
     flex-basis: 100%;
}

.row img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.col-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
    padding: 30px;
}

.col-2 h2 {
    font-size: 40px;
    font-weight: 100;
}

.col-2 h4 {
    margin-bottom: 10px;
}

.col-2 p {
    margin: 20px 0px;
}

.col-2 button {
    border: 1px solid white;
}

.section-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px;
  }
  
  .section-header h2 {
    font-size: 40px;
    margin: 20px 0;
  }